*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: #deddf7;
}
.header{
    width: 100%;
    background-color: #fefcfc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.appTitle{
  text-align: center;
  color: #1d05f0;
  font-size: 1rem;
   background-color: #deddf7;
   padding: 5px;
   border-radius: 5px;
   margin: 10px;
}