.listItems{
    display: flex;
    padding: 12px;
    background-color: #deddf7 ;
    border-radius: 5px;
    margin-bottom:8px;
    gap: 12px;
   
}
.checkbox{
    width: 18px;
    height: 18px;
     cursor: pointer;
    accent-color: #5a35cb;
}
.completed {
    text-decoration: line-through;
    color: #666;
}
.textTodo{
    flex:1;
    font-weight:300;
    cursor: pointer;
}
.buttonActive{
    color: #a62812;
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.buttonInActive {
    display: none;
}