.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.title{
    text-align: center;
    font-size: 1.8rem;
}
.formGroup{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.input{
    flex: 1;
    padding: 5px;
    border: 1px solid #deddf7;
     border-radius: 8px;
}
.button{
    padding: 10px;
    background-color:#1d05f0 ;
    color: #fff;
     border: 1px solid #deddf7;
     border-radius: 8px;
     font-weight: bold;
}